In [1]:
import numpy as np
np.random.seed(10)
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

# Required magic to display matplotlib plots in notebooks
%matplotlib inline

from sklearn import metrics
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split

In [29]:
from sklearn.preprocessing import StandardScaler
import keras
from keras.models import Sequential

In [2]:
data = pd.read_csv('train.csv')

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [5]:
data['Sex']=data['Sex'].replace({ 'male' : 0,'female' : 1})

In [13]:
data['Embarked']=data['Embarked'].replace({'S':0,'C':1,'Q':2})

In [6]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S

In [8]:
data['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [14]:
data['Embarked'].value_counts()

0.0    644
1.0    168
2.0     77
Name: Embarked, dtype: int64

In [16]:
features=list(data.columns)
features.remove('PassengerId')
features.remove('Name')
features.remove('Ticket')
features.remove('Cabin')

In [20]:
features.remove('Survived')

In [17]:
data[features].isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [18]:
data['Age']=data['Age'].fillna(data['Age'].median())

In [19]:
print(data.shape)
data=data.dropna(subset=['Embarked'])
print(data.shape)

(891, 12)
(889, 12)

In [21]:
data[features].head(3)

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    0  22.0      1      0   7.2500       0.0
1       1    1  38.0      1      0  71.2833       1.0
2       3    1  26.0      0      0   7.9250       0.0

In [22]:
X = data[features].values
Y = data['Survived'].values

In [24]:
sc = StandardScaler()
X = sc.fit_transform(X)

In [30]:
model = Sequential()
# Adding the input layer and the first hidden layer
model.add(keras.layers.core.Dense(6, init = 'uniform', activation = 'relu', input_dim = 7))
# Adding the second hidden layer
model.add(keras.layers.core.Dense(6, init = 'uniform', activation = 'relu'))
# Adding the output layer
model.add(keras.layers.core.Dense(1, init = 'uniform', activation = 'sigmoid'))

WARNING:tensorflow:From C:\Users\nidhi.kamal\AppData\Roaming\Python\Python36\site-packages\tensorflow_core\python\ops\resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.

C:\Users\nidhi.kamal\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:3: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(6, activation="relu", input_dim=7, kernel_initializer="uniform")`
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\nidhi.kamal\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:5: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(6, activation="relu", kernel_initializer="uniform")`
  """
C:\Users\nidhi.kamal\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:7: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(1, activation="sigmoid", kernel_initializer="uniform")`
  import sys

In [31]:
# compile the model
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

WARNING:tensorflow:From C:\Users\nidhi.kamal\AppData\Roaming\Python\Python36\site-packages\tensorflow_core\python\ops\nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [32]:
# fit the model
model.fit(X, Y, batch_size = 10, epochs = 100)

WARNING:tensorflow:From C:\Users\nidhi.kamal\AppData\Local\Continuum\anaconda3\envs\env_python_3_6\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Epoch 1/100
889/889 [==============================] - 1s 944us/step - loss: 0.6861 - accuracy: 0.6175
Epoch 2/100
889/889 [==============================] - 0s 478us/step - loss: 0.6299 - accuracy: 0.6175
Epoch 3/100
889/889 [==============================] - 0s 504us/step - loss: 0.5497 - accuracy: 0.6985
Epoch 4/100
889/889 [==============================] - 0s 520us/step - loss: 0.5157 - accuracy: 0.8065
Epoch 5/100
889/889 [==============================] - 0s 560us/step - loss: 0.4930 - accuracy: 0.8110
Epoch 6/100
889/889 [==============================] - 0s 546us/step - loss: 0.4756 - accuracy: 0.7975
Epoch 7/100
889/889 [==============================] - 0s 513us/step - loss: 0.4626 - accuracy: 0.8088
Epoch 8/100
889/889 [==============================] - 0s 446us/step - loss: 0.4539 - accuracy: 0.7998
Epoch 9/100
889/889 [==============================] - 0s 425us/step - loss: 0.4482 - accuracy: 0.8020
Epoch 10/100
889/889 [==============================] - 0s 536us/step - loss: 0.4439 - accuracy: 0.8088
Epoch 11/100
889/889 [==============================] - 0s 506us/step - loss: 0.4405 - accuracy: 0.8088
Epoch 12/100
889/889 [==============================] - 1s 588us/step - loss: 0.4376 - accuracy: 0.8065
Epoch 13/100
889/889 [==============================] - 0s 528us/step - loss: 0.4356 - accuracy: 0.8065
Epoch 14/100
889/889 [==============================] - 0s 510us/step - loss: 0.4328 - accuracy: 0.8088
Epoch 15/100
889/889 [==============================] - 0s 506us/step - loss: 0.4308 - accuracy: 0.8110
Epoch 16/100
889/889 [==============================] - 0s 549us/step - loss: 0.4293 - accuracy: 0.8110
Epoch 17/100
889/889 [==============================] - 0s 431us/step - loss: 0.4274 - accuracy: 0.8144
Epoch 18/100
889/889 [==============================] - 1s 576us/step - loss: 0.4256 - accuracy: 0.8155
Epoch 19/100
889/889 [==============================] - 1s 579us/step - loss: 0.4244 - accuracy: 0.8144
Epoch 20/100
889/889 [==============================] - 0s 523us/step - loss: 0.4231 - accuracy: 0.8166
Epoch 21/100
889/889 [==============================] - 1s 621us/step - loss: 0.4220 - accuracy: 0.8155
Epoch 22/100
889/889 [==============================] - 0s 521us/step - loss: 0.4213 - accuracy: 0.8166
Epoch 23/100
889/889 [==============================] - 0s 473us/step - loss: 0.4205 - accuracy: 0.8200
Epoch 24/100
889/889 [==============================] - 0s 531us/step - loss: 0.4198 - accuracy: 0.8178
Epoch 25/100
889/889 [==============================] - 0s 465us/step - loss: 0.4184 - accuracy: 0.8211
Epoch 26/100
889/889 [==============================] - 0s 449us/step - loss: 0.4185 - accuracy: 0.8189
Epoch 27/100
889/889 [==============================] - 0s 474us/step - loss: 0.4176 - accuracy: 0.8223
Epoch 28/100
889/889 [==============================] - 0s 543us/step - loss: 0.4165 - accuracy: 0.8211
Epoch 29/100
889/889 [==============================] - 0s 459us/step - loss: 0.4161 - accuracy: 0.8211
Epoch 30/100
889/889 [==============================] - 0s 478us/step - loss: 0.4159 - accuracy: 0.8245
Epoch 31/100
889/889 [==============================] - ETA: 0s - loss: 0.4143 - accuracy: 0.82 - 0s 504us/step - loss: 0.4150 - accuracy: 0.8245
Epoch 32/100
889/889 [==============================] - 0s 429us/step - loss: 0.4149 - accuracy: 0.8279
Epoch 33/100
889/889 [==============================] - 0s 287us/step - loss: 0.4156 - accuracy: 0.8211
Epoch 34/100
889/889 [==============================] - 0s 281us/step - loss: 0.4142 - accuracy: 0.8245
Epoch 35/100
889/889 [==============================] - 0s 388us/step - loss: 0.4145 - accuracy: 0.8268
Epoch 36/100
889/889 [==============================] - 0s 356us/step - loss: 0.4138 - accuracy: 0.8290
Epoch 37/100
889/889 [==============================] - 0s 382us/step - loss: 0.4131 - accuracy: 0.8301
Epoch 38/100
889/889 [==============================] - 0s 559us/step - loss: 0.4133 - accuracy: 0.8268
Epoch 39/100
889/889 [==============================] - 1s 576us/step - loss: 0.4127 - accuracy: 0.8268
Epoch 40/100
889/889 [==============================] - 0s 493us/step - loss: 0.4131 - accuracy: 0.8301
Epoch 41/100
889/889 [==============================] - 0s 282us/step - loss: 0.4123 - accuracy: 0.8279
Epoch 42/100
889/889 [==============================] - 0s 377us/step - loss: 0.4125 - accuracy: 0.8279
Epoch 43/100
889/889 [==============================] - 0s 422us/step - loss: 0.4120 - accuracy: 0.8313
Epoch 44/100
889/889 [==============================] - 0s 322us/step - loss: 0.4123 - accuracy: 0.8256
Epoch 45/100
889/889 [==============================] - 0s 310us/step - loss: 0.4115 - accuracy: 0.8335
Epoch 46/100
889/889 [==============================] - ETA: 0s - loss: 0.4100 - accuracy: 0.83 - 0s 324us/step - loss: 0.4116 - accuracy: 0.8301
Epoch 47/100
889/889 [==============================] - 0s 524us/step - loss: 0.4108 - accuracy: 0.8313
Epoch 48/100
889/889 [==============================] - 0s 522us/step - loss: 0.4105 - accuracy: 0.8324
Epoch 49/100
889/889 [==============================] - 0s 528us/step - loss: 0.4108 - accuracy: 0.8313
Epoch 50/100
889/889 [==============================] - 0s 524us/step - loss: 0.4107 - accuracy: 0.8290
Epoch 51/100
889/889 [==============================] - 0s 539us/step - loss: 0.4100 - accuracy: 0.8335
Epoch 52/100
889/889 [==============================] - 0s 551us/step - loss: 0.4104 - accuracy: 0.8279
Epoch 53/100
889/889 [==============================] - 0s 532us/step - loss: 0.4099 - accuracy: 0.8335
Epoch 54/100
889/889 [==============================] - 1s 656us/step - loss: 0.4097 - accuracy: 0.8279
Epoch 55/100
889/889 [==============================] - 1s 572us/step - loss: 0.4099 - accuracy: 0.8290
Epoch 56/100
889/889 [==============================] - 0s 535us/step - loss: 0.4090 - accuracy: 0.8301
Epoch 57/100
889/889 [==============================] - 0s 510us/step - loss: 0.4090 - accuracy: 0.8301
Epoch 58/100
889/889 [==============================] - 0s 526us/step - loss: 0.4089 - accuracy: 0.8290
Epoch 59/100
889/889 [==============================] - 0s 520us/step - loss: 0.4087 - accuracy: 0.8324
Epoch 60/100
889/889 [==============================] - 0s 519us/step - loss: 0.4088 - accuracy: 0.8346
Epoch 61/100
889/889 [==============================] - 0s 508us/step - loss: 0.4081 - accuracy: 0.8301
Epoch 62/100
889/889 [==============================] - 0s 518us/step - loss: 0.4088 - accuracy: 0.8301
Epoch 63/100
889/889 [==============================] - 0s 534us/step - loss: 0.4079 - accuracy: 0.8290
Epoch 64/100
889/889 [==============================] - ETA: 0s - loss: 0.4045 - accuracy: 0.83 - 0s 508us/step - loss: 0.4081 - accuracy: 0.8301
Epoch 65/100
889/889 [==============================] - 1s 582us/step - loss: 0.4083 - accuracy: 0.8256
Epoch 66/100
889/889 [==============================] - 0s 531us/step - loss: 0.4074 - accuracy: 0.8313
Epoch 67/100
889/889 [==============================] - 0s 465us/step - loss: 0.4077 - accuracy: 0.8313
Epoch 68/100
889/889 [==============================] - 0s 395us/step - loss: 0.4068 - accuracy: 0.8268
Epoch 69/100
889/889 [==============================] - 0s 524us/step - loss: 0.4066 - accuracy: 0.8346
Epoch 70/100
889/889 [==============================] - 0s 510us/step - loss: 0.4071 - accuracy: 0.8313
Epoch 71/100
889/889 [==============================] - 0s 514us/step - loss: 0.4065 - accuracy: 0.8358
Epoch 72/100
889/889 [==============================] - 0s 513us/step - loss: 0.4072 - accuracy: 0.8301
Epoch 73/100
889/889 [==============================] - 0s 530us/step - loss: 0.4068 - accuracy: 0.8335
Epoch 74/100
889/889 [==============================] - 0s 516us/step - loss: 0.4067 - accuracy: 0.8335
Epoch 75/100
889/889 [==============================] - 0s 538us/step - loss: 0.4061 - accuracy: 0.8313
Epoch 76/100

889/889 [==============================] - 0s 513us/step - loss: 0.4064 - accuracy: 0.8268
Epoch 77/100
889/889 [==============================] - 0s 511us/step - loss: 0.4060 - accuracy: 0.8290
Epoch 78/100
889/889 [==============================] - 0s 514us/step - loss: 0.4062 - accuracy: 0.8346
Epoch 79/100
889/889 [==============================] - 0s 473us/step - loss: 0.4066 - accuracy: 0.8313
Epoch 80/100
889/889 [==============================] - 0s 440us/step - loss: 0.4068 - accuracy: 0.8324
Epoch 81/100
889/889 [==============================] - 0s 461us/step - loss: 0.4056 - accuracy: 0.8279
Epoch 82/100
889/889 [==============================] - 0s 442us/step - loss: 0.4065 - accuracy: 0.8313
Epoch 83/100
889/889 [==============================] - 0s 432us/step - loss: 0.4057 - accuracy: 0.8313
Epoch 84/100
889/889 [==============================] - 0s 438us/step - loss: 0.4051 - accuracy: 0.8335
Epoch 85/100
889/889 [==============================] - 0s 446us/step - loss: 0.4054 - accuracy: 0.83350s - loss: 0.4420 - ac
Epoch 86/100
889/889 [==============================] - 0s 431us/step - loss: 0.4057 - accuracy: 0.8301
Epoch 87/100
889/889 [==============================] - 0s 439us/step - loss: 0.4059 - accuracy: 0.8358
Epoch 88/100
889/889 [==============================] - 0s 435us/step - loss: 0.4045 - accuracy: 0.8324
Epoch 89/100
889/889 [==============================] - 0s 467us/step - loss: 0.4044 - accuracy: 0.8358
Epoch 90/100
889/889 [==============================] - 0s 496us/step - loss: 0.4041 - accuracy: 0.8335
Epoch 91/100
889/889 [==============================] - 0s 473us/step - loss: 0.4046 - accuracy: 0.8391
Epoch 92/100
889/889 [==============================] - 0s 479us/step - loss: 0.4035 - accuracy: 0.8335
Epoch 93/100
889/889 [==============================] - 0s 454us/step - loss: 0.4030 - accuracy: 0.8335
Epoch 94/100
889/889 [==============================] - 0s 308us/step - loss: 0.4036 - accuracy: 0.8324
Epoch 95/100
889/889 [==============================] - 0s 398us/step - loss: 0.4022 - accuracy: 0.8335
Epoch 96/100
889/889 [==============================] - 0s 468us/step - loss: 0.4022 - accuracy: 0.8358
Epoch 97/100
889/889 [==============================] - 0s 490us/step - loss: 0.4026 - accuracy: 0.8301
Epoch 98/100
889/889 [==============================] - 0s 502us/step - loss: 0.4019 - accuracy: 0.8313
Epoch 99/100
889/889 [==============================] - 0s 518us/step - loss: 0.4018 - accuracy: 0.8346
Epoch 100/100
889/889 [==============================] - 0s 485us/step - loss: 0.4015 - accuracy: 0.8335

In [33]:
# evaluate the model
scores = model.evaluate(X, Y)

# print accuracy
print("\n%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

889/889 [==============================] - 0s 102us/step

accuracy: 83.24%